<div class="container" data-page="{{pageName}}">
	<h4 class="center-align">Account Details</h4>

	<div class="col s12 m8 offset-m2 l6 offset-l3">
		<div class="card-panel grey lighten-5 z-depth-1">
		  <div class="row valign-wrapper">
			<div class="col s2">
			  <img src="//lh3.googleusercontent.com/-apO1C4bT-60/AAAAAAAAAAI/AAAAAAAAIJs/wzxeOUNIELE/s120-c/photo.jpg" alt="Profile Image" class="circle responsive-img"> <!-- notice the "circle" class -->
			</div>
			<div class="col s10">
			  <span class="black-text">
				Welcome Back Devonte. How can I help you today...
			  </span>
			</div>
		  </div>
		</div>
	  </div>
</div>
