<section id="navigation">
	{{navigation-bar}}
</section>

<section id="page">
	{{outlet}}
</section>

<section id="footer">
	{{partial 'site-components/footer/footer'}}
</section>

<section id="main-action-button">
	{{partial 'site-components/main-action-button/main-action-button'}}
</section>
