<section id="banner">
	{{partial 'site-components/banner/banner'}}
</section>

<div data-page="{{pageName}}">
	<div id="parallax-home">
		{{partial 'site-components/parallax/parallax-home'}}
	</div>

	<div id="social-media-links">
		{{partial 'site-components/social/social-media-links'}}
	</div>
</div>
