##############################################################
#
# these commands run after the application and web server are
# set up and after the application version file is extracted
# but before the application version is deployed
#
# current directory:  /tmp/deployment/application
# copy directory: /var/app/current
#
###############################################################

container_commands:
    00_docker_clean_up:
        command: "sh /opt/elasticbeanstalk/docker-cleanup.sh"

    01_install_htpasswd:
        command: "yum install -y httpd &>> /var/log/cfn-init.log"

    02_ssl_protect:
        command: "sh /opt/elasticbeanstalk/ssl-protect.sh"

    03_password_protect:
        command: "sh /opt/elasticbeanstalk/password-protect.sh"
