##############################################################
#
# these are option settings for the aws load balancer
#
##############################################################

option_settings:
  - namespace: aws:elb:listener:80
    option_name: ListenerEnabled
    value: true

  - namespace: aws:elb:listener:80
    option_name: ListenerProtocol
    value: HTTP

  - namespace: aws:elb:listener:80
    option_name: InstanceProtocol
    value: HTTP

  - namespace: aws:elb:listener:80
    option_name: InstancePort
    value: 80

  - namespace: aws:elb:listener:443
    option_name: ListenerEnabled
    value: true

  - namespace: aws:elb:listener:443
    option_name: SSLCertificateId
    value: arn:aws:iam::556352762989:server-certificate/PlatformCertificate

  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: HTTPS

  - namespace: aws:elb:listener:443
    option_name: InstanceProtocol
    value: HTTPS

  - namespace: aws:elb:listener:443
    option_name: InstancePort
    value: 443

  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /health-check

  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: LoadBalanced

  - namespace: aws:elb:policies
    option_name: ConnectionDrainingEnabled
    value: false

  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 120

  - namespace: aws:autoscaling:trigger
    option_name: BreachDuration
    value: 5

  - namespace: aws:autoscaling:trigger
    option_name: MeasureName
    value: NetworkOut

  - namespace: aws:autoscaling:trigger
    option_name: LowerThreshold
    value: 5000000

  - namespace: aws:autoscaling:trigger
    option_name: UpperThreshold
    value: 50000000

  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1

  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 1

  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: RollingUpdateEnabled
    value: true

  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: RollingUpdateType
    value: Health

  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: MinInstancesInService
    value: 0

  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: MaxBatchSize
    value: 4

  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1200

  - namespace: aws:elb:healthcheck
    option_name: HealthyThreshold
    value: 2

  - namespace: aws:elb:healthcheck
    option_name: UnhealthyThreshold
    value: 5

  - namespace: aws:elb:healthcheck
    option_name: Interval
    value: 30

  - namespace: aws:elb:healthcheck
    option_name: Timeout
    value: 5
