##############################################################
#
# these are option settings for the aws load balancer
#
##############################################################

option_settings:
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: LoadBalanced

  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /elb-health-check.html

  - namespace: aws:elb:healthcheck
    option_name: HealthyThreshold
    value: 2

  - namespace: aws:elb:healthcheck
    option_name: UnhealthyThreshold
    value: 5

  - namespace: aws:elb:healthcheck
    option_name: Interval
    value: 60

  - namespace: aws:elb:healthcheck
    option_name: Timeout
    value: 10

  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPPort
    value: 80

  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerPortProtocol
    value: HTTP

  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPSPort
    value: 443

  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerSSLPortProtocol
    value: HTTPS

  - namespace: aws:autoscaling:trigger
    option_name: BreachDuration
    value: 5

  - namespace: aws:autoscaling:trigger
    option_name: MeasureName
    value: NetworkOut

  - namespace: aws:autoscaling:trigger
    option_name: LowerThreshold
    value: 5000000

  - namespace: aws:autoscaling:trigger
    option_name: UpperThreshold
    value: 10000000

  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1

  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 5
