##############################################################
#
# these are ther possible services we have and their ports
#
##############################################################

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: EMBER_CLI_CORDOVA
    value: 0

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_53_NAME
    value: consul

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_53_TAGS
    value: DNS

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8300_NAME
    value: consul

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8300_TAGS
    value: WHISPER

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8301_NAME
    value: consul

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8301_TAGS
    value: LAN

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8302_NAME
    value: consul

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8302_TAGS
    value: WAN

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8400_NAME
    value: consul

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8400_TAGS
    value: RPC

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8500_NAME
    value: consul-web

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8500_TAGS
    value: HTTP

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_5432_NAME
    value: database

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_5432_TAGS
    value: POSTGRES

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_3000_NAME
    value: api

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_3000_TAGS
    value: HTTPS-API-SERVER

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_80_NAME
    value: nginx-server

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_80_TAGS
    value: HTTP-PROXY-SERVER

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_443_NAME
    value: nginx-server

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_443_TAGS
    value: HTTPS-PROXY-SERVER

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_38100_NAME
    value: nginx-server

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_38100_TAGS
    value: INTRANET-PROXY-LIVE-RELOAD

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_39100_NAME
    value: nginx-server

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_39100_TAGS
    value: WEBSITE-PROXY-LIVE-RELOAD

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8000_NAME
    value: intranet-ember

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8000_TAGS
    value: EMBER-SERVE

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_38000_NAME
    value: intranet-live-reload

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_38000_TAGS
    value: EMBER-LIVE-RELOAD

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_9000_NAME
    value: website-ember

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_9000_TAGS
    value: EMBER-SERVE

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_39000_NAME
    value: website-live-reload

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_39000_TAGS
    value: WEBSITE-LIVE-RELOAD

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8080_NAME
    value: jenkins-web

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_8080_TAGS
    value: HTTP

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_50000_NAME
    value: jenkins-worker

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_50000_TAGS
    value: WORKERS

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_6379_NAME
    value: redis-server

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVICE_6379_TAGS
    value: CACHING-SERVER
