##############################################################
#
# these are option settings for the aws container
#
##############################################################

option_settings:
  - namespace: aws:elasticbeanstalk:hostmanager
    option_name: LogPublicationControl
    value: true

  - namespace: aws:ec2:vpc
    option_name: ELBScheme
    value: public

  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true

  - namespace: aws:elasticbeanstalk:sns:topics
    option_name: Notification Endpoint
    value: devo.tox.89@gmail.com

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.medium

  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: gp2

  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: '32'

  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: aws-elasticbeanstalk-ec2-role

  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: aws-eb-platform
