##############################################################
#
# these are option settings for the aws container
#
##############################################################

option_settings:
  - namespace: aws:elasticbeanstalk:hostmanager
    option_name: LogPublicationControl
    value: true

  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx

  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true

  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"

  - namespace: aws:ec2:vpc
    option_name: ELBScheme
    value: public

  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1200

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro

  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: gp2

  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: '8'
