<div id="banner-video" class="parallax">
	<video autoplay loop muted preload="auto" poster="{{t "assets.banner.video.poster.image"}}" title="{{t "banner.video.title"}}">
		<source src="{{t "assets.banner.video.mp4.src"}}" type="{{t "assets.banner.video.mp4.type"}}">
	</video>
</div>
