
<div id="banner-text" class="no-pad-bot banner-text-wrapper">
  <div class="container large">
	<div class="banner-text row center">
	  <h3 class="header col s12 light main-header"><p>{{t "banner.header.text"}}</p></h3>
	</div>
	<div class="banner-text row center">
	  <h5 class="header col s12 light"><p>{{t "banner.subheader.text.one"}}</p></h5>
	  <h5 class="header col s12 light"><p>{{t "banner.subheader.text.two"}}</p></h5>
	</div>
  </div>
</div>
