# Copy this template to a new file called secrets.env
# Then update that template with the correct values
# And never push this file to any repository

HT_USER=<ht-user>
HT_PASSWORD=<ht-password>

PG_PORT=<pg-port>
PG_HOST=<pg-host>

PG_PASSWORD=<pg-password>
PG_SECURE_PASSWORD=<pg-secure-password>

PG_ADMIN_USER=<pg-admin-user>
PG_ADMIN_PASSWORD=<pg-admin-password>

AWS_ACCESS_KEY=<aws-access-key>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>

SERVER_NAME=<server-name>
SERVER_TOKEN=<server-token>

# NGINX AMPLIFY API KEY
API_KEY=<nginx-amplify-api-key>
AMPLIFY_HOSTNAME=<nginx-amplify-hostname>
