<div id="hamburger" data-activates="nav-mobile" class="material-design-hamburger button-collapse">
	<a class="material-design-hamburger__icon">
		<span class="material-design-hamburger__layer"></span>
	</a>
</div>
