<nav role="navigation" id="navigation-bar">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">
			{{partial 'components/navigation-bar/logos'}}
		</a>

		<ul id="nav-desktop" class="right hide-on-med-and-down">
			{{partial 'components/navigation-bar/links'}}
		</ul>

		<ul id="nav-mobile" class="side-nav">
			{{partial 'components/navigation-bar/links'}}
		</ul>

		{{partial 'components/navigation-bar/hamburger'}}
	</div>
</nav>
